@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<p>
    The purpose of this website is to allow you to find a restaurant that offers Takeaway on the Just Eat Takeaway app.
    To find restaurants around your area, enter a postcode in the input field and press submit and look at the map.
</p>